<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

</head>
<body>

<div id="content" style="font-family: verdana;background-color: #eaeaea;font-size: 10px;margin: 0 0 0 0;padding: 0 0 0 0;">

  <table class="cizgi base_table" style="border-collapse: collapse;border-spacing: 0;padding: 0;font-size: 14px;width: 800px;border: 1px solid grey;">

    <tr>
      <td align="left">
        <img src=" data:image/gif;base64," width="100" style="border-width: 0;">
      </td>
      <td colspan="2" style="font-weight: bold; text-align: center; vertical-align: bottom">
        Device Stopped Sending Events
      </td>
    </tr>
    <tr class="cizgi_satir" style="border: 1px solid grey;padding: 0;text-align: center;">
      <td class="label" style="color: #6c6c6c;border: 1px solid grey;padding: 0;text-align: center;">Name</td>
      <td style="border: 1px solid grey;padding: 0;text-align: center;"><%= @name %></td>
    </tr>
    <tr class="cizgi_satir" style="border: 1px solid grey;padding: 0;text-align: center;">
      <td class="label" style="color: #6c6c6c;border: 1px solid grey;padding: 0;text-align: center;">Description</td>
      <td style="border: 1px solid grey;padding: 0;text-align: center;"><%= @description %></td>
    </tr>
    <tr class="cizgi_satir" style="border: 1px solid grey;padding: 0;text-align: center;">
      <td class="label" style="color: #6c6c6c;border: 1px solid grey;padding: 0;text-align: center;">Type</td>
      <td style="border: 1px solid grey;padding: 0;text-align: center;"><%= @type %></td>
    </tr>
    <tr class="cizgi_satir" style="border: 1px solid grey;padding: 0;text-align: center;">
      <td class="label" style="color: #6c6c6c;border: 1px solid grey;padding: 0;text-align: center;">Last event time
      </td>
      <td style="border: 1px solid grey;padding: 0;text-align: center;"><%= @last_event_time %></td>
    </tr>
    <tr class="cizgi_satir" style="border: 1px solid grey;padding: 0;text-align: center;">
      <td class="label" style="color: #6c6c6c;border: 1px solid grey;padding: 0;text-align: center;">Status</td>
      <td style="border: 1px solid grey;padding: 0;text-align: center;"><%= @status %></td>
    </tr>
    <tr class="cizgi_satir" style="border: 1px solid grey;padding: 0;text-align: center;">
      <td class="label" style="color: #6c6c6c;border: 1px solid grey;padding: 0;text-align: center;">Groups</td>
      <td style="border: 1px solid grey;padding: 0;text-align: center;"><%= @groups %></td>
    </tr>


  </table>


</div>
</body>
</html>
